body {
  background: #DFDFDF;
  margin: 0 30px 100px 30px;
  font: 14px/18px 'Lucida Grande', 'Segoe UI', sans-serif;
}

h1 {
  font: bold italic 50px Georgia, serif;
}

canvas {
  display: block;
  max-width: 800px;
  background: white;
  border-radius: 20px;
  -moz-border-radius: 20px;
}

a {
  color: black;
}

p {
  margin: 30px 0;
  line-height: 20px;
}

textarea {
  width: 100%;
  margin-top: 10px;
}

td {
  text-align: center;
}

td.instructions {
   text-align: left;
}