input[type="text"] {
    width: 100px;
}

div {
    margin: 10px;
    padding: 0px 0px 0px 5px;
    text-align: left;
    border-radius: 5px;
}

.transitionBuilderTable {
    background-color: white;
    padding: 10;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    width: 1024px;
}

.baseDiv {
    border-style: dotted;
    border-width: 1px;
    margin-right: 4px;
    padding: 2px;
    cursor: not-allowed;
}

.matchDiv {
    background-color: rgba(255, 0, 0, 0.2);
}

.conditionDiv {
    background-color: rgba(0, 0, 255, 0.2);
}

.updateDiv {
    background-color: rgba(0, 255, 255, 0.2);
}

.actionDiv {
    background-color: rgba(0, 255, 0, 0.2);
}

.balloon-wrapper {
    display: inline-block;
    margin:  0px;
    padding: 0px;
}

.button {
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}