input[type="text"] {
    width: 100px;
}

div {
    margin: 10px;
    padding: 0px 0px 0px 5px;
    text-align: left;
    border-radius: 5px;
}

.transitionBuilderTable {
    background-color: white;
    padding: 10;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    width: 1024px;
}

.matchDiv {
background-color: rgba(255, 0, 0, 0.2);
border-style: dotted;
border-width: 1px;
margin-right: 4px;
padding: 2px;
}

.conditionDiv {
background-color: rgba(0, 0, 255, 0.2);
border-style: dotted;
border-width: 1px;
margin-right: 4px;
padding: 2px;
}

.updateDiv {
background-color: rgba(0, 255, 255, 0.2);
border-style: dotted;
border-width: 1px;
margin-right: 4px;
padding: 2px;
}

.actionDiv {
background-color: rgba(0, 255, 0, 0.2);
border-style: dotted;
border-width: 1px;
margin-right: 4px;
padding: 2px;
}

.balloon-wrapper {
  display: inline-block;
 margin:  0px;
 padding: 0px;
}

.button {
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}